<div class="topnav">
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-5">
      <span>
              <a>
                <img src="../assets/AmericanAirlinesLogo.png" width="500" height="80">
              </a>
      </span>
    </div>
    <!-- <div class="col-md-6" style="text-align: left;padding-top: 5px;">
      <span style="font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
      font-weight: 500; color: #ffffff;">
              <span>
                <span style="font-size: 40px;">American Airlines </span> <br>
                <span style="font-size: 20px;"></span>
              </span>
      </span>
    </div> -->
    <div class="col-md-1"></div>
  </div>
</div>
<div class="w3-sidebar w3-collapse" id="sidenav">
<div id="leftmenuinner">
  <div id="leftmenuinnerinner">
    <!-- <div class="link">
      <a href="" routerlink="home">
         <span class="fontstyle fontsize-20" routerlinkactive="active">American</span>
      </a>
    </div> -->
    <div class="link">
      <a href="" routerLink="home" routerLinkActive="active">
         <span class="fontstyle fontsize-14">Home</span>
      </a>
    </div>
    <div class="link">
      <a href="" routerLink="barcode" routerLinkActive="active">
         <span class="fontstyle fontsize-14">Barcode Scan</span>
      </a>
    </div>
    <div class="link">
      <a href="" routerLink="bag-claim-status" routerLinkActive="active">
         <span class="fontstyle fontsize-14">Baggage Claim Status</span>
      </a>
    </div>
    <div class="link">
      <a href="" routerLink="getFlightInfo" routerLinkActive="active">
         <span class="fontstyle fontsize-14">Get Flight Info</span>
      </a>
    </div>
  </div>
</div>
</div>


<router-outlet></router-outlet>
